@font-face {
  font-family: 'Proxima Nova';
  src: local('./fonts/Proxima Nova Black'),
  local('ProximaNova-Black');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: local('./fonts/Proxima Nova Bold'), local('ProximaNova-Bold');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: local('./fonts/Proxima Nova Regular'), local('ProximaNova-Regular');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: local('./fonts/Proxima Nova Extrabold'), local('ProximaNova-Extrabld');
  font-weight: 800;
  font-style: normal;
}
